<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<title>index</title>

<body>
    <!-- header -->
    <%- include('partials/header.ejs') %>
    <main>

        <!-- slindingProfiles -->
        <section class="profiles">

            <div class="full hide-scroll">
                <ul class="hs">

                    <% for(var i=0; i < profiles.length; i++) { %>

                    <li class="profile">
                        <div class="overlay-blur add-blur">
                            <img class="the-profile" src="/assets/images/overlay.png" alt="overlay filter">
                        </div>

                        <img src="/assets/images/stock-photo-1.jpg" alt="photo">

                        <article class="profile-info">
                            <h1 class="space"><%= profiles[i].profileName %></h1>
                            <h2 class="space"><%= profiles[i].profileAge %></h2>
                            <h2 class="space"><%=profiles[i].profileCity %></h2>
                            <p> <%= profiles [i].profileDiscription%> </p>
                        </article>

                        <input type="button" value="Show" class="button">

                        <div class="dislike-like">

                            <a href="#">
                                <img src="/assets/icons/delete.svg" alt="dislike">
                            </a>
                            <a href="#">
                                <img src="/assets/icons/heart.svg" alt="like">
                            </a>

                        </div>

                    </li>
                    <% } %>



                </ul>
            </div>
        </section>

    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>